.title {
    display: grid;
    grid-template-columns: 4em 12.8em auto min-content min-content min-content;
    grid-column-start: 1;
    grid-column-end: 3;
    column-gap: 0.5em;
    place-items: center;
}

.no-wrap {
    text-wrap-mode: nowrap;
}

.desktop {
    display: block;
}

.mobile {
    padding: 1px 10px 1px 10px;
    height: 44.2px;
    display: none;
    font-size: large;
}

#user {
    font-size: small;
    margin: auto;
}

#user-bar {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.7em;
}

#menu-button {
  font-weight: 700;
  font-size: x-large;
  padding: 0px 16px 0px 16px;
  height: 44.2px;
}

#logo {
  width: 69px;
  height: 69;
}

@media (max-width: 740px) {
  .title {
    grid-template-columns: 4em auto min-content min-content min-content;
  }
  #title {
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
