.title{
    display: grid;
    grid-template-columns: 5em 10em auto 10em 5em;
    grid-column-start: 1;
    grid-column-end: 3;
    place-items: center;
}

#user {
    padding: 0px 0px;
    width: 8em;
    height: 44.2px;
    font-size: small;
}

@media (max-width: 740px) {
  .title {
    grid-template-columns: 5em auto auto 5em;
  }
  #title {
    display: none;
  }
}
