.title{
    display: grid;
    grid-template-columns: 5em 5em auto 5em 5em;
    grid-column-start: 1;
    grid-column-end: 3;
    place-items: center;
}

@media (max-width: 740px) {
  .title{
    grid-template-columns: 5em 1px auto 5em 5em;
  }
}
