:root {
  --font-color: #ffffff;
  --small-font-color: #e0e0e0;
  --secondary-font-color: #777777;
  --background-color: #202020;
  --element-color: #1a1a1a;
  --boarder-color: #303030;
  --focus-color: #0077ff;
  --active-color: #00ff77;
  --warning-color: #d41f1f;
  --input-background-color: #2b2a33;
  --input-boarder-color: #404450;
  --spacer-color: #404040;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: var(--font-color);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--element-color);
  border-color: var(--boarder-color);
  cursor: pointer;
  transition: all 0.25s;
  width: fit-content;
}
button:hover {
  border-color: var(--focus-color);
}
button:active {
  border-color: var(--active-color);
  box-shadow: 0px 0px 10px var(--active-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.buttons {
  display: grid;
  justify-content: right;
  grid-template-columns: auto auto;
  column-gap: 1.5em;
}

.wrong {
  border-radius: 4px;
  border-color: var(--warning-color);
}

input, textarea {
  border-radius: 8px;
  color: var(--font-color);
  border-color: var(--input-boarder-color);
  background-color: var(--input-background-color);
  font-size: large;
}

input:disabled {
  color: var(--secondary-font-color);
}

label {
  color: var(--small-font-color);
}

.error {
  border-color: var(--warning-color) !important;
}

@media (max-width: 999px) {
  #root {
    padding: 0px !important;
  }
}

[hidden] {
  display:none !important;
}
