
.reservation {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, 0%);
    top: 0%;
}

@media (max-width: 740px) {
    .reservation {
        top: 0%;
        left: 50%;
        width: fit-content;
    }
}

@media (max-height: 740px) {
    .reservation {
        top: 0%;
        left: 60%;
    }
}
