{
    "ORIGIN_URL": "localhost",
    "SERVER_PORT": "8080",
    "ENABLE_TLS": false,
    "CERT_FILE": "cert.pem",
    "PRIVATE_KEY_FILE": "privkey.pem",
    "SOURCE_DIR": "../client/dist",
    "DB_FILE_NAME": "./db/db.gob",

    "MIN_USERNAME_LENGTH": 4,
    "MIN_PASSWORD_LENGTH": 8,

    "MAX_SESSION_AGE": 2592000,
    "MAX_PENDIG_RESERVATION_TIME": 600,
    "RESERVATION_OVERTIME": 3600,
    "TEMP_CLIENT_AGE": 2592000,

    "RATE_LIMIT_PER_MINUTE":        60,
    "RATE_LIMIT_PER_MINUTE_EVENT":  120,
    "RATE_LIMIT_BURST":             5,
    "RATE_LIMIT_RESET_MINUTES":     60,
    "RATE_LIMIT_ALERT":             1000,

    "MAX_THREADS": 0
}
