#spinner {
  float: none;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: auto;
}

@keyframes spin {
  from {rotate: 0deg;}
  to {rotate: 360deg;}
}
