
#account-editor {
    grid-template-areas:
        "password-label password"
        "new-pass-label new-password"
        "password-confirm-label password-confirm"
        ". ."
        ". ."
        ". ."
        "delete-account apply-button";
}

.account-tab {
    margin-top: 1em;
    margin-bottom: 2em;
}

#apply-button {
    grid-area: apply-button;
}

#delete-account {
    grid-area: delete-account;
}

.delete-dialog {
    text-align: center;
}

.big-number {
    margin: 0px;
    font-size: 1.8em;
}

.low-profile-label {
    font-size: 0.8em;
    color: var(--secondary-font-color);
    margin-bottom: 0px;
}

.thin-hr {
    margin: 24px;
}

#tabs {
    grid-template-columns: max-content max-content;
    margin-top: 2em;
}

@media (max-width: 400px) {
    #tabs {
        grid-template-columns: max-content min-content;
    }
}
