.dialog{
    margin: 30px auto;
    max-width: fit-content;
    padding: 25px 40px;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.63), 0px 0px 18px rgba(0, 0, 0, 0.5), 0px 10px 100px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.5em;
}

.buttons-center {
  justify-content: center;
}

[hidden]{
  display:none;
}
