
.dialog{
    margin: 30px auto;
    max-width: fit-content;
    padding: 25px 40px;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.63), 0px 0px 18px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
    "email-label email"
    "password-label password"
    ". ."
    "buttons buttons";
}

label {
    text-align: left;
    padding-right: 10px;
}

.email-label {
    grid-area: email-label;
}

.password-label {
    grid-area: password-label;
}

.email {
    grid-area: email;
}

.password {
    grid-area: password;
}

.buttons {
    padding-top: 18px;
    grid-area: buttons;
}

[hidden]{
  display:none;
}
