.login {
    display: grid;
    grid-template-areas:
    "email-label email"
    "password-label password"
    ". ."
    "buttons buttons";
}

label {
    text-align: left;
    padding-right: 10px;
}

.email-label {
    grid-area: email-label;
}

.password-label {
    grid-area: password-label;
}

#email {
    grid-area: email;
    font-size: medium;
}

#password {
    grid-area: password;
    font-size: medium;
}

.buttons {
    grid-area: buttons;
}
