.frame,
.reactive {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  border-color: #303030;
  transition: border-color 0.25s;
}
.reactive:hover {
  border-color: #0077ff;
}
.reactive:focus,
.reactive:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.selected {
  border-color: #0077ff;
}
.selected:hover {
  border-color: #00ff77 !important;
}
