.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 340px;
  background-color: #555;
  color: #fff;

  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 130%;
  left: 50%;
  margin-left: 0px;

  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltiptext {
    transform: translate(-50%, 0);

}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
